img{
    width: 200px;
}
.menu_principal{
    display: inline-block;
    background-color: rgb(252, 252, 238);
    width: 100vw;
    align-items: center;
    justify-content: center;
}
ul{
    display: inline-flex;
    list-style: none;
    padding-left: 250px;
}
li{
    padding: 20px;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
body{
    background-color: aliceblue;
}
.menu_principal{
    display: flex;
    flex-flow: nowrap;
}
.menu_principal{
    width: 21%;
    display: grid;
    justify-content: center;
    align-items: center;
}

